* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    background-color: antiquewhite;
}

.container {
    max-width: 1366px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
}   

h1 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 30px;
    font-size: 48px;
}

input,
button {
    padding: 12px;
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}

button {
    margin-left: 8px;
}

button:hover {
    cursor: pointer;
    background-color: #aaaaaa;
}

form {
    margin-bottom: 30px;
}

.realizada {
    text-decoration: line-through;
}

.nao-realizada {
    text-decoration: none;
}

ul {
    font-size: 24px;
}
